<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Test {{name}}</h3></div>
    <div class="panel-body">
        <div class="form-group"><label class="col-md-4 control-label" for="{{name}}">Tested by</label>

            <div class="col-md-4"><input id="{{name}}" name=ng-model="labTest.createdBy" type="text" placeholder=""
               class="form-control input-md"></div>
           </div>
       </div>
   </div>
   <legend>Terpenoids
    <button id="newTerp" ng-click="addTerp()" class="btn btn-sm btn-primary pull-right">New Sample</button>
</legend>
<div ng-repeat="t in terps">
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Terp{{t.id}}</h3></div>
        <div class="panel-body">Template goes here.</div>
    </div>
</div>
<legend>Cannabinoids
    <button id="newCan" ng-click="addCan()" class="btn btn-sm btn-primary pull-right">New Sample</button>
</legend>
<div ng-repeat="c in cans">
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Can{{c.id}}</h3></div>
        <div class="panel-body"><!-- Text input-->
            <div class="form-group"><label class="col-md-4 control-label" for="cannacas">CAS number</label>

                <div class="col-md-4"><input id="cannacas" name="cannacas" ng-model="form.cannabanoids.cas_number"
                   type="text" placeholder="" class="form-control input-md"></div>
               </div>
               <!-- Text input-->
               <div class="form-group"><label class="col-md-4 control-label" for="cannamoleform">Molecular formula</label>

                <div class="col-md-4"><input id="cannamoleform" name="cannamoleform"
                   ng-model="form.cannabanoids.molecular_formula" type="text" placeholder=""
                   class="form-control input-md"></div>
               </div>
               <!-- Text input-->
               <div class="form-group"><label class="col-md-4 control-label" for="cannamolarmass">Molar mass</label>

                <div class="col-md-4"><input id="cannamolarmass" name="cannamolarmass"
                   ng-model="form.cannabanoids.molar_mass" type="text" placeholder=""
                   class="form-control input-md"></div>
               </div>
               <!-- Text input-->
               <div class="form-group"><label class="col-md-4 control-label" for="cannaexmoleweight">Exact molecular
                weight</label>

                <div class="col-md-4"><input id="cannaexmoleweight" name="cannaexmoleweight"
                   ng-model="form.cannabanoids.exact_molecular_weight" type="text"
                   placeholder="" class="form-control input-md"></div>
               </div>
               <!-- Text input-->
               <div class="form-group"><label class="col-md-4 control-label" for="cannapriceperg">Price per g</label>

                <div class="col-md-4"><input id="cannapriceperg" name="cannapriceperg"
                   ng-model="form.cannabanoids.price_per_g" type="text" placeholder=""
                   class="form-control input-md"></div>
               </div>
               <!-- Text input-->
               <div class="form-group"><label class="col-md-4 control-label" for="cannapricepermole">Price per mole</label>

                <div class="col-md-4"><input id="cannapricepermole" name="cannapricepermole"
                   ng-model="form.cannabanoids.price_per_mole" type="text" placeholder=""
                   class="form-control input-md"></div>
               </div>
               <!-- Textarea -->
               <div class="form-group"><label class="col-md-4 control-label" for="cannamedprops">Medicinal
                properties</label>

                <div class="col-md-4"><textarea class="form-control" id="cannamedprops"
                    ng-model="form.cannabanoids.medicinal_properties"
                    name="cannamedprops"></textarea></div>
                </div>
                <!-- Textarea -->
                <div class="form-group"><label class="col-md-4 control-label" for="cannalitref">Literature
                    references</label>

                    <div class="col-md-4"><textarea class="form-control" id="cannalitref"
                        ng-model="form.cannabanoids.literature_references"
                        name="cannalitref"></textarea></div>
                    </div>
                    <!-- Select Multiple -->
                    <div class="form-group"><label class="col-md-4 control-label" for="cannaotheruses">Other uses</label>

                        <div class="col-md-4"><select id="cannaotheruses" name="cannaotheruses"
                          ng-model="form.cannabanoids.other_uses" class="form-control"
                          multiple="multiple">
                          <option value="1">Option one</option>
                          <option value="2">Option two</option>
                      </select></div>
                  </div>
                  <!-- Select Multiple -->
                  <div class="form-group"><label class="col-md-4 control-label" for="cannasynwith">Synergistic with</label>

                    <div class="col-md-4"><select id="cannasynwith" name="cannasynwith"
                      ng-model="form.cannabanoids.synergistic_with" class="form-control"
                      multiple="multiple">
                      <option value="1">Option one</option>
                      <option value="2">Option two</option>
                  </select></div>
              </div>
          </div>
      </div>
  </div>
