<h1>Strains
    <a href='#/strains/new' class="btn btn-primary pull-right">
        <i class="icon-plus"></i>New
    </a>
</h1>
<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>AKA</th>
            <th>Origin</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="strain in strains">
            <td>
                <a href="#/strains/{{strain.id}}/show">
                    {{strain.name}}
                </a>
            </td>
            <td>
                {{strain.aka}}
            </td>
            <td>
                {{strain.geographic_origin}}
            </td>
        </tr>
    </tbody>
</table>

