<form class="form-horizontal">


    <div class="form-group" ng-show="viewOnly">
        <label class="control-label" for="editButton"></label>
        <div class="col-md-4 pull-left">
            <button ng-click="edit()" id="editButton" name="editButton" class="btn btn-danger">Edit Details</button>
        </div>
    </div>


    <fieldset ng-disabled="viewOnly">
        {{form.lab.tests}}
        <div class="well span12">
            <!-- Form Name -->
            <legend ng-click="form.isStrainCollapsed = !form.isStrainCollapsed">
                <span ng-show="form.isStrainCollapsed" class="glyphicon glyphicon-chevron-right"
                style="font-size: .6em;"></span>
                <span ng-show="!form.isStrainCollapsed" class="glyphicon glyphicon-chevron-down"
                style="font-size: .6em;"></span>
                Strain
            </legend>

            <div collapse="form.isStrainCollapsed">
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="strainname">Strain name</label>

                    <div class="col-md-4">
                        <input id="strainname" ng-model="strain.name" name="strainname" type="text" placeholder=""
                        class="form-control input-md">
                    </div>
                </div>

       <!-- re-doing this for multiple input tags via text input.
        <div class="form-group">
            <label class="col-md-4 control-label" for="strainaka">aka tag input</label>

            <div class="col-md-4">
                <input id="strainaka" ng-model="strain.strain_akas_attributes" name="strainaka" type="text" placeholder=""
                       class="form-control input-md">
            </div>
        </div>
    -->

    <!-- Select Basic -->
    <div class="form-group">
        <label class="col-md-4 control-label" for="strainOrigin">Geographic Origin</label>

        <div class="col-md-4">
            <select id="strainOrigin" ng-model="strain.GeographicOrigin" name="strainOrigin" class="form-control">
                <option ng-repeat="g in form.selection.geographic_origins" value="{{g.name}}">{{g.name}}</option>
            </select>
        </div>
    </div>

</div>
</div>


<div class="well span12">
    <!-- Form Name -->
    <legend ng-click="form.isMedicalCollapsed = !form.isMedicalCollapsed;">
        <span ng-show="form.isMedicalCollapsed" class="glyphicon glyphicon-chevron-right"
        style="font-size: .6em;"></span>
        <span ng-show="!form.isMedicalCollapsed" class="glyphicon glyphicon-chevron-down"
        style="font-size: .6em;"></span>
        Medical
    </legend>
    <div collapse="form.isMedicalCollapsed">
        <!-- select multiple -->
        <div multi-select-items list-items="form.medical.effects" tagged-items="form.medical.effectsTagged"
        name="form.medical.effectsName"></div>
        <!-- select multiple -->
        <div multi-select-items list-items="form.medical.ailments" tagged-items="form.medical.ailmentsTagged"
        name="form.medical.ailmentsName"></div>
    </div>
</div>


<div class="well span12">
    <!-- Form Name -->
    <legend ng-click="form.isLabTestsCollapsed = !form.isLabTestsCollapsed;">
        <span ng-show="form.isLabTestsCollapsed" class="glyphicon glyphicon-chevron-right"
        style="font-size: .6em;"></span>
        <span ng-show="!form.isLabTestsCollapsed" class="glyphicon glyphicon-chevron-down"
        style="font-size: .6em;"></span>
        Lab
    </legend>
    <div collapse="form.isLabTestsCollapsed">
        <div class="form-group">
            <label class="col-md-4 control-label" for="labtested">Tested?</label>

            <div class="col-md-4">
                <select id="labtested" ng-model="strain.lab_attributes.tested" name="labtested" class="form-control">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
        </div>
    </div>
</div>


<div class="well span12">
    <!-- Form Name -->
    <legend ng-click="form.isPerceptionCollapsed = !form.isPerceptionCollapsed;">
        <span ng-show="form.isPerceptionCollapsed" class="glyphicon glyphicon-chevron-right"
        style="font-size: .6em;"></span>
        <span ng-show="!form.isPerceptionCollapsed" class="glyphicon glyphicon-chevron-down"
        style="font-size: .6em;"></span>
        Perception
    </legend>
    <div collapse="form.isPerceptionCollapsed">
        <!-- select multiple -->
        <div multi-select-items list-items="form.perception.tastes" tagged-items="form.perception.tasteTagged"
        name="form.perception.tasteName"></div>
        <!-- select multiple -->
        <div multi-select-items list-items="form.perception.smells" tagged-items="form.perception.smellTagged"
        name="form.perception.smellName"></div>
        <!-- select multiple -->
        <div multi-select-items list-items="form.perception.appearances" tagged-items="form.perception.appearanceTagged"
        name="form.perception.appearanceName"></div>
    </div>
</div>


<div class="well span12">
    <legend ng-click="form.isGeneticsCollapsed = !form.isGeneticsCollapsed;">
        <span ng-show="form.isGeneticsCollapsed" class="glyphicon glyphicon-chevron-right"
        style="font-size: .6em;"></span>
        <span ng-show="!form.isGeneticsCollapsed" class="glyphicon glyphicon-chevron-down"
        style="font-size: .6em;"></span>
        Genetics
    </legend>
    <div collapse="form.isGeneticsCollapsed">

        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="geneticsParent">Parent</label>

            <div class="col-md-4">
                <select id="geneticsParent" ng-model="strain.parent_id.id" name="geneticsParent" class="form-control">
                    <option ng-repeat="s in form.genetics.parents" value="{{s.id}}">{{s.name}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="sativaper">Sativa percentage</label>

            <div class="col-md-4">
                <input id="sativaper" ng-model="strain.genetic_attributes.SativaPercentage" name="sativaper" type="text" placeholder=""
                class="form-control input-md">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="indicaper">Indica Percetnage</label>

            <div class="col-md-4">
                <input id="indicaper" ng-model="strain.genetic_attributes.IndicaPercentage" name="indicaper" type="text" placeholder=""
                class="form-control input-md">
            </div>
        </div>




    </div>
</div>

<fieldset ng-disabled="viewOnly">

    <div class="well span12">
        <!-- Form Name -->
        <legend ng-click="form.isGrowthCollapsed = !form.isGrowthCollapsed">
            <span ng-show="form.isGrowthCollapsed" class="glyphicon glyphicon-chevron-right"
            style="font-size: .6em;"></span>
            <span ng-show="!form.isGrowthCollapsed" class="glyphicon glyphicon-chevron-down"
            style="font-size: .6em;"></span>
            Growth Condition
        </legend>
        <div collapse="form.isGrowthCollapsed">

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="lightint">Light Intensity</label>
                <div class="col-md-4">
                    <input id="lightint" ng-model="strain.growth_condition_attributes.LightIntensity" name="lightint" type="text" placeholder="" class="form-control input-md">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="bulbpower">Bulb Type</label>
                <div class="col-md-4">
                    <input id="bulbpower" ng-model="strain.growth_condition_attributes.BulbType" name="bulbpower" type="text" placeholder="" class="form-control input-md">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="bulbpower">Bulb Power</label>
                <div class="col-md-4">
                    <input id="bulbpower" ng-model="strain.growth_condition_attributes.BulbPower" name="bulbpower" type="text" placeholder="" class="form-control input-md">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="growingmedium">Growing Medium</label>
                <div class="col-md-4">
                    <input id="growingmedium" ng-model="strain.growth_condition_attributes.GrowingMedium" name="growingmedium" type="text" placeholder="" class="form-control input-md">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="veglight">Vegitative Light </label>
                <div class="col-md-4">
                    <input id="veglight" ng-model="strain.growth_condition_attributes.VegetativeLight" name="veglight" type="text" placeholder="" class="form-control input-md">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="vegduration">Vegetative Duration</label>
                <div class="col-md-4">
                    <input id="vegduration" ng-model="strain.growth_condition_attributes.VegetativeDuration" name="vegduration" type="text" placeholder="" class="form-control input-md">

                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="nutcompveg">Nutrient Composition Veg.</label>
                <div class="col-md-4">
                    <textarea class="form-control" ng-model="strain.growth_condition_attributes.NutrientCompositionVeg" id="nutcompveg" name="nutcompveg"></textarea>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="flowerlight">Flowering Light</label>
                <div class="col-md-4">
                    <input id="flowerlight" ng-model="strain.growth_condition_attributes.FlowerLight" name="flowerlight" type="text" placeholder="" class="form-control input-md">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="flowerdur">Flower Duration</label>
                <div class="col-md-4">
                    <input id="flowerdur" ng-model="strain.growth_condition_attributes.FlowerDuration" name="flowerdur" type="text" placeholder="" class="form-control input-md">

                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="nutcompflower">Nutrient Composition Flower</label>
                <div class="col-md-4">
                    <textarea class="form-control" ng-model="strain.growth_condition_attributes.NutrientCompositionFlower" id="nutcompflower" name="nutcompflower"></textarea>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="dryingtemp">Drying Temperature</label>
                <div class="col-md-4">
                    <input id="dryingtemp" ng-model="strain.growth_condition_attributes.DryingTemperature" name="dryingtemp" type="text" placeholder="" class="form-control input-md">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="dryrelhum">Drying Relative Humidity</label>
                <div class="col-md-4">
                    <input id="dryrelhum" ng-model="strain.growth_condition_attributes.DryingRelativeHumidity" name="dryrelhum" type="text" placeholder="" class="form-control input-md">

                </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="dryduration">Drying Duration</label>
                <div class="col-md-4">
                    <select id="dryduration" ng-model="strain.growth_condition_attributes.DryingDuration_id" name="dryduration" class="form-control">
                        <option ng-repeat="g in form.selection.drying_durations" value="{{g.id}}">{{g.duration}}</option>
                    </select>
                </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="cureduration">Curing Duration</label>
                <div class="col-md-4">
                    <select id="cureduration" ng-model="strain.growth_condition_attributes.CuringDuration_id" name="cureduration" class="form-control">
                        <option ng-repeat="g in form.selection.curing_durations" value="{{g.id}}">{{g.duration}}</option>
                    </select>
                </div>
            </div>


            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="stocontype">Storage Container type</label>
                <div class="col-md-4">
                    <select id="stocontype" ng-model="strain.growth_condition_attributes.StorageContainerType_id" name="stocontype" class="form-control">
                        <option ng-repeat="g in form.selection.storage_container_types" value="{{g.id}}">{{g.ContainerType}}</option>
                    </select>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="stortemp">Storage Temperature</label>
                <div class="col-md-4">
                    <input id="stortemp" ng-model="strain.growth_condition_attributes.StorageTemperature" name="stortemp" type="text" placeholder="" class="form-control input-md">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="storduration">Storage Duration</label>
                <div class="col-md-4">
                    <input id="storduration" ng-model="strain.growth_condition_attributes.StorageDuration" name="storduration" type="text" placeholder="" class="form-control input-md">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="breeder">Breeder</label>
                <div class="col-md-4">
                    <input id="breeder" ng-model="strain.growth_condition_attributes.breeder" name="breeder" type="text" placeholder="" class="form-control input-md">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="yield">Yield</label>
                <div class="col-md-4">
                    <input id="yield" ng-model="strain.growth_condition_attributes.yield" name="yield" type="text" placeholder="" class="form-control input-md">

                </div>
            </div>



        </div>
    </div>


    <div class="well span12">
        <legend ng-click="form.isSubjectiveCollapsed = !form.isSubjectiveCollapsed;">
            <span ng-show="form.isSubjectiveCollapsed" class="glyphicon glyphicon-chevron-right"
            style="font-size: .6em;"></span>
            <span ng-show="!form.isSubjectiveCollapsed" class="glyphicon glyphicon-chevron-down"
            style="font-size: .6em;"></span>
            Subjective
        </legend>
        <div collapse="form.isSubjectiveCollapsed">
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="subhowhigh">How high</label>

                <div class="col-md-4">
                    <input id="subhowhigh" name="subhowhigh" ng-model="strain.subjective_attributes.HowHigh" type="text" placeholder=""
                    class="form-control input-md">

                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="subjectivenews">News</label>

                <div class="col-md-4">
                    <textarea class="form-control" ng-model="strain.subjective_attributes.news" id="subjectivenews"
                    name="subjectivenews"></textarea>
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="subjectivecontro">Controversy</label>

                <div class="col-md-4">
                    <textarea class="form-control" ng-model="strain.subjective_attributes.controversy" id="subjectivecontro"
                    name="subjectivecontro"></textarea>
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="subjectivescoop">The scoop</label>

                <div class="col-md-4">
                    <textarea class="form-control" ng-model="strain.subjective_attributes.TheScoop" id="subjectivescoop"
                    name="subjectivescoop"></textarea>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="subjectiveavail">Available</label>

                <div class="col-md-4">
                    <input id="subjectiveavail" name="subjectiveavail" ng-model="strain.subjective_attributes.available" type="text"
                    placeholder="" class="form-control input-md">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="subjectiveconcen">Concentrate</label>

                <div class="col-md-4">
                    <input id="subjectiveconcen" name="subjectiveconcen" ng-model="strain.subjective_attributes.concentrate" type="text"
                    placeholder="" class="form-control input-md">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="subjectiveflower">Flower</label>

                <div class="col-md-4">
                    <input id="subjectiveflower" name="subjectiveflower" ng-model="strain.subjective_attributes.flower" type="text"
                    placeholder="" class="form-control input-md">

                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="subjectiveverdict">The verdict</label>

                <div class="col-md-4">
                    <textarea class="form-control" id="subjectiveverdict" ng-model="strain.subjective_attributes.TheVerdict"
                    name="subjectiveverdict"></textarea>
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="subjectivepairing">Pairings</label>

                <div class="col-md-4">
                    <textarea class="form-control" id="subjectivepairing" ng-model="strain.subjective_attributes.pairings"
                    name="subjectivepairing"></textarea>
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="subjectivereviews">Reviews</label>

                <div class="col-md-4">
                    <textarea class="form-control" id="subjectivereviews" ng-model="strain.subjective_attributes.reviews"
                    name="subjectivereviews"></textarea>
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="subjectivepopculture">Pop culture</label>

                <div class="col-md-4">
                    <textarea class="form-control" id="subjectivepopculture" ng-model="strain.subjective_attributes.PopCulture"
                    name="subjectivepopculture"></textarea>
                </div>
            </div>
        </div>

    </div>

    <!-- Button (Double) -->
    <div class="form-group">
        <div class="col-md-2 col-md-offset-10">
            <button id="saveButton" ng-click="save()" name="saveButton" class="btn btn-primary">Save</button>
            <button id="cancelButton" ng-click="cancel()" name="cancelButton" class="btn btn-danger">Cancel</button>
        </div>
    </div>

</fieldset>
</form>
