<form class="form-horizontal">
    <fieldset>
        <div class="well span12">
            <!-- Form Name -->
            <legend ng-click="form.isTestCollapsed = !form.isTestCollapsed">
                <span ng-show="form.isTestCollapsed" class="glyphicon glyphicon-chevron-right"
                style="font-size: .6em;"></span>
                <span ng-show="!form.isTestCollapsed" class="glyphicon glyphicon-chevron-down"
                style="font-size: .6em;"></span>
                Test
            </legend>

            <div collapse="form.isTestCollapsed">
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="testedby">Tested By</label>

                    <div class="col-md-4">
                        <input id="testedby" ng-model="test.TestedBy" name="testedby" type="text" placeholder=""
                        class="form-control input-md">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="dateTested">Date Tested</label>

                    <div class="col-md-4">
                        <input id="DateTested" ng-model="test.DateTested" name="dateTested" type="text" placeholder=""
                        class="form-control input-md">
                    </div>
                    <div class="col-md-5 pull-right">
                        <div>
                            <button id="CreateButton" ng-click="save()" name="CreateButton" class="btn btn-primary">
                                Create
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>

