<form class="form-horizontal">
    <fieldset>
        <div class="well span12">
            <!-- Form Name -->
            <legend ng-click="form.isStrainCollapsed = !form.isStrainCollapsed">
                <span ng-show="form.isStrainCollapsed" class="glyphicon glyphicon-chevron-right"
                style="font-size: .6em;"></span>
                <span ng-show="!form.isStrainCollapsed" class="glyphicon glyphicon-chevron-down"
                style="font-size: .6em;"></span>
                Strain
            </legend>

            <div collapse="form.isStrainCollapsed">
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="strainname">Strain name</label>

                    <div class="col-md-4">
                        <input id="strainname" ng-model="form.strain.name" name="strainname" type="text" placeholder=""
                        class="form-control input-md">
                    </div>
                    <button id="CreateButton" ng-click="create()" name="CreateButton" class="btn btn-primary">Create
                    </button>
                </div>
            </div>
        </div>
    </fieldset>
</form>
