<form class="form-horizontal">
    <fieldset>
        <div class="well span12">
            <!-- Form Name -->
            <legend ng-click="form.isTestCollapsed = !form.isTestCollapsed">
                <span ng-show="form.isTestCollapsed" class="glyphicon glyphicon-chevron-right"
                style="font-size: .6em;"></span>
                <span ng-show="!form.isTestCollapsed" class="glyphicon glyphicon-chevron-down"
                style="font-size: .6em;"></span>
                Test
            </legend>

            <div collapse="form.isTestCollapsed">
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="testedby">Tested By</label>

                    <div class="col-md-4">
                        <input ng-disabled="viewOnly" id="testedby" ng-model="test.TestedBy" name="testedby" type="text"
                        placeholder=""
                        class="form-control input-md">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="dateTested">Date Tested</label>

                    <div class="col-md-4">
                        <input ng-disabled="viewOnly" id="DateTested" ng-model="test.DateTested" name="dateTested"
                        type="text" placeholder=""
                        class="form-control input-md">
                    </div>
                </div>
                <div class="form-group" ng-hide="viewOnly">
                    <div class="col-md-2 col-md-offset-10">
                        <button id="saveButton" ng-click="save()" name="saveButton" class="btn btn-primary">Save
                        </button>
                        <button id="cancelButton" ng-click="cancel()" name="cancelButton" class="btn btn-danger">
                            Cancel
                        </button>
                    </div>
                </div>
                <div class="form-group" ng-show="viewOnly">
                    <div class="col-md-2 col-md-offset-9">
                        <button ng-click="edit()" id="editButton" name="editButton" class="btn btn-danger pull-right">
                            Edit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>

<form class="form-horizontal" ng-show="showSample">
    <fieldset>

        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="selectSample">Select Sample</label>

            <div class="col-md-4">
                <select id="selectSample" name="selectSample" ng-model="sampleForm.id" class="form-control">
                    <option ng-repeat="sample in sampleSelection" value="{{sample.id}}">{{sample.name}}</option>
                </select>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="conInput">Concentration</label>

            <div class="col-md-4">
                <input id="conInput" ng-model="sampleForm.concentration" name="conInput" placeholder="" type="text"
                class="form-control input-md">
            </div>
        </div>

        <!-- Button (Double) -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="addSampleButton"></label>

            <div class="col-md-8">
                <button ng-click="addSample()" id="addSampleButton" name="addSampleButton" class="btn btn-primary">Add
                </button>
                <button ng-click="cancelSample()" id="sampleCancelButton" name="cancelButton" class="btn btn-danger">
                    Cancel
                </button>
            </div>
        </div>
    </fieldset>
</form>


<h4>Terpenoids
    <button class="btn btn-primary pull-right" ng-click="createTerp()">
        <i class="icon-plus"></i>Add
    </button>
</h4>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Concentration</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="terp in test.LabTerps_attributes">
            <td>
                {{terp.terpenoid.name}}
            </td>
            <td>
                {{terp.concentration}}
            </td>
        </tr>
    </tbody>
</table>

<h4>Cannabinoids
    <button class="btn btn-primary pull-right" ng-click="createCan()">
        <i class="icon-plus"></i>Add
    </button>
</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Concentration</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="can in test.LabCans_attributes">
            <td>
                {{can.cannabinoid.name}}
            </td>
            <td>
                {{can.concentration}}
            </td>
        </tr>
    </tbody>
</table>
