<h1>Strain Tests
    <a href='#/strains/{{strain.id}}/tests/create' class="btn btn-primary pull-right">
        <i class="icon-plus"></i>New
    </a>
</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Tested by</th>
        <th>Date tested</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="test in tests">
        <td>
            <a href="#/strains/{{test.strain_id}}/tests/{{test.id}}/edit">
                {{test.TestedBy}}
            </a>
        </td>
        <td>
            {{test.DateTested}}
        </td>
    </tr>
    </tbody>
</table>
