<div class="jumbotron">
    <h1></h1>

    <p></p>
</div>

<h1>Strains
    <a href='#/strains/create' class="btn btn-primary pull-right">
        <i class="icon-plus"></i>New Strain
    </a>
</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <div class="col-md-3">
                <input id="searchInput" ng-model="query" name="searchInput" type="text" placeholder="type to filter"
                class="form-control input-sm">
            </div>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="strain in strains | filter:query">
            <td>
                <div style="font-size:20px;">
                    {{strain.name}}
                </div>
            </td>
            <td><a href="#/strains/{{strain.id}}/detail/edit" role="button" class="btn btn-success btn-md">
                Details
            </a>
        </td>
        <td>
            <a href="#/strains/{{strain.id}}/tests/" role="button" class="btn btn-success btn-md">
                Tests
            </a>
        </td>
    </tr>
</tbody>
</table>
