var app = angular.module('app', ['ui.bootstrap', 'ngRoute', 'app.services', 'app.controllers', 'app.directives']);

app.config(function ($routeProvider) {
        //view all strains
        $routeProvider.when('/', {
            templateUrl: '<%= asset_path("StrainsListView.html") %>',
            controller: 'StrainsViewController'
        })
        //create strain
        .when('/strains/create', {
            templateUrl: '<%= asset_path("StrainCreate.html") %>',
            controller: 'StrainCreateController'
        })
        //edit strain detail
        .when('/strains/:id/detail/edit', {
            templateUrl: '<%= asset_path("StrainDetailsEdit.html") %>',
            controller: 'DetailEditController'
        })
        //view all strain tests
        .when('/strains/:id/tests/', {
            templateUrl: '<%= asset_path("StrainTestsListView.html") %>',
            controller: 'TestsViewController'
        })
        //create strain test
        .when('/strains/:id/tests/create', {
            templateUrl: '<%= asset_path("StrainTestCreate.html") %>',
            controller: 'TestCreateController'
        })
        //edit strain test
        .when('/strains/:strainID/tests/:id/edit', {
            templateUrl: '<%= asset_path("StrainTestEdit.html") %>',
            controller: 'TestEditController'
        })
        .otherwise({ redirectTo: '/'});
});
